/.SMFImportedNamespaceAwareLocalScopeProvider.java._trace
/.SMFImportedNamespaceAwareLocalScopeProvider.xtendbin
/.SecMFScopeProvider.java._trace
/.SecMFScopeProvider.xtendbin
/SMFImportedNamespaceAwareLocalScopeProvider.java
/SecMFScopeProvider.java
