<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="smf"
			id="org.sireum.aadl.osate.securitymodel.SecMF"
			name="SecMF Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.sireum.aadl.osate.securitymodel.SecMF.validate">
		<activeWhen>
			<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.sireum.aadl.osate.securitymodel.SecMF"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.sireum.aadl.osate.securitymodel.ui.keyword_SecMF"
			label="SecMF"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="org.sireum.aadl.osate.securitymodel.SecMF.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.sireum.aadl.osate.securitymodel.SecMF.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="smf">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="smf">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.sireum.aadl.osate.securitymodel.SecMF -->
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.sireum.aadl.osate.securitymodel.SecMF -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.sireum.aadl.osate.securitymodel.ui.secmf.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.sireum.aadl.osate.securitymodel.ui.secmf.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.sireum.aadl.osate.securitymodel.ui.secmf.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.sireum.aadl.osate.securitymodel.ui.SecMFExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.sireum.aadl.osate.securitymodel.SecMF.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
</plugin>
